body { background-image: url("outerspace.jpg") ;
background-attachment: fixed;
color:white;
font-size: 14pt; }
body { font-family: 'Fjalla One', sans-serif;
text-align: center; }
h1 { font-size: 300%;
color: orange; }
h2 { color: silver; }
ul { padding: 0; }
li { display: inline-block; }
a:link, a:visited { color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
a:hover { color: orange; }